<%- model_class = ImmuneResponse -%>
<div class="page-header">
  <h1>New Immune Response Record</h1>
  <p>
    You can enter your experimental results using the form below. If you
    have any projects that are defined you can relate these results
    to a project.
  </p>
</div>

<%= render partial: 'shared/flash', locals: { flash: flash } %>

<%= render :partial => 'form' %>
