<div class="page-header">
  <h1>Free From Search</h1>
  <p>
    This page allows you to enter a free form search of all the data
    records and their corresponding fields. Each term of the search
    request is processed from left to right. Standard boolean search
    operators are allowed that include:
  </p>
  <ul>
    <li>AND</li>
    <li>OR</li> 
    <li>NOT</li>
  </ul>
  <p>
    The search terms will be treated as case insensitive search criteria.
    You also have the option to include the notes field in the search.
    This option is off by default. Searching the notes section of each
    result record may slow down the search, since a full text search 
    will be used.
  </p>
</div>


