
<div class="page-header">
<h1>Repository Dashboard</h1>
<p>
  This simple dashboard shows the 20 latest experiments that have
  been updated in the system. The listing is split between
  the Immune Response and Macrophage results.
</p>
</div>

<%= render partial: 'shared/flash', locals: { flash: flash } %>

<h3>Latest Macrophage Results</h3>

<% if @macrophages.present? %>
  <div class="well">
    <%= render partial: 'macrophages/macrophages_table', 
      locals: { macrophages: @macrophages } %>
  </div>
<% else %>
  <p>None found.</p><br/>
<% end %>

<h3>Latest Immune Response Results</h3>

<% if @immune_responses.present? %>
  <div class="well">
    <%= render partial: 'immune_responses/immune_response_table', 
        locals: { iresponses: @immune_responses } %>
  </div>
<% else %>
  <p>None found.</p><br/>
<% end %>
