<br/>
<h1>About Us</h1>
<%= image_tag 'bacteria.jpg', class: "image-right" %>
<p>
	The Aronoff lab is addressing the problem of female reproductive
  tract infections through integrated explorations of host-microbial
  interactions, microbial pathogenesis, innate immunity, and mucosal
  immunology. We are primarily interested in understanding how innate
  immune defenses against bacterial infections are regulated. 
</p>
<p>
  In particular, our studies focus on toxigenic, Gram positive bacteria
  that cause life-threatening infections of reproductive-age women. 
  One of these pathogens is the anaerobic bacterium Clostridium 
  sordellii, which causes reproductive tract infections and a 
  unique toxic shock syndrome following childbirth or 
  spontaneous/therapeutic abortions. Another pathogen we study is 
  Group A Streptococcus (GAS), a more common cause of toxic shock 
  syndrome, which is a major cause of postpartum sepsis. We currently 
  got funding for another pathogen, Group B Streptococcus (GBS), an 
  important cause of infection-related preterm birth, stillbirth, and 
  neonatal morbidity and mortality.
</p>
<br/><br/>
