<br/>
<h1>Welcome</h1>
<p>
	You have reached the Aronoff Laboratory research repository. This site
  is for current laboratory research staff and affiliated medical 
  research guests. If you are interested in the research being
  performed by the lab, please see our website at 
  <a href="http://aronofflab.org">www.aronofflab.org</a>. If you need
  access to our research repository please use the 
  <%= link_to 'contact form', home_contact_path %> to request access
  to the system.
</p>
<h1>Our Repository</h1>
<%= image_tag 'bacterialplate.jpg', class: "image-right" %>
<p>
	Our repository is designed to support the medical research process
  being used by the laboratory. The system it self is a propotype 
  web-based application that allows storage of experimental data
  results. The data storage includes experimental data results and
  associated meta-data. This data will be searchable and the system
  will enable cross referencing between experiments. The goal of
  the system is help streamline the research process.
</p>
<p>
  Researchers have the ability to define projects that group the
  experimental results and enable them to be shared with a group of
  collaborators. Each resarch project will include a collection of
  experimental data organized by research goals aims and by the
  experimental data measure (e.g. flow cytometry).
</p>

<br/><br/>
