<%- model_class = Macrophage -%>
<div class="page-header">
  <h1>Edit Macrophage Results</h1>
  <p>
    You can update the macrophage results record using the form below.
    <em>Please note that if you replace the attached data file. The
    original file will be deleted from the system.</em>
  </p>
</div>

<%= render partial: 'shared/flash', locals: { flash: flash } %>

<%= render :partial => 'form' %>
